/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@mixin Desktops {
  @media (min-width: 1281px) {
    @content;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@mixin Laptops {
  @media (min-width: 1025px) and (max-width: 1280px) {
    @content;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@mixin Tablets_Portrait {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@mixin Tablets_Landscape {
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@mixin Mobile_Landscape {
  @media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    @content;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@mixin Mobile_Portrait {
  @media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    @content;
  }
}
