$white: #fff;
$black: #000;

$light_gray: #fafafe;

$dark_one: #424451;
$dark_gray: #adaeb6;

$blue: #1f90ff;
$green: #8ce28b;
$red: #fd7062;

$text_dark_one: $dark_one;
$text_gray: $dark_gray;

$btn-primary-bg: $blue;
$btn-danger-bg: $red;
$btn-success-bg: $green;

$dark-bg: $dark_one;
$gray-bg: $light_gray;

$border_one: #c8cad2;
